<div id="copyright">
    <p>Hotel Luna Medjugorje, Bijakovici bb &nbsp; | &nbsp; Tel {{ telephone }} &nbsp; | &nbsp; Fax {{ fax }} &nbsp; | &nbsp; Email: {{ email }}</p>
    &copy; Luna Medjugorje {{ '' | date('Y') }}  &nbsp; | &nbsp; Made by <a href="https://www.facebook.com/ivan.dugandzic1" target="_blank">Ivan</a><br>
</div>
