
<div class="container">
    <div id="logo" class="col-md-8" >
        <a href="/"><img src="{{ asset('bundles/lunauser/images/logo2.png') }}" alt="Hotel Luna Medjugorje"></a>
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="btn-group" id="welcome-wrap">
            <button type="button" class="btn btn-warning">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            </button>
            <span class="input-group-btn">
                <button class="btn btn-warning" type="button">
                    <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} </a></button>
            </span>
        </div>
    {% endif %}

</div>
