#header_wrap {
    background-color: #9D223F;
}
/*#header {*/
    /*width: 900px;*/
    /*margin: auto;*/
    /*min-height: 120px;*/
/*}*/

#logo {
    float: left;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    font-size: 2.8em;
    line-height: 0.9em;
    letter-spacing: -0.03em;
    color: #00387e;
    margin: 0px;
    padding-top: 5px;
}

#header a {
    text-decoration: none;
    color: #00387e;
}
#header a img:hover {
    opacity: 0.8;
}

#welcome-wrap{
    width: 200px;
    float: right;
    margin: 10px;
}

input[type="checkbox"]{
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

.navbar-inverse{
    background:#90223F !important;
}


.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed !important;
        top: 112px;
        bottom: 61px;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 5px 0 0 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .current > a,
.nav-sidebar > .current > a:hover,
.nav-sidebar > .current > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
